.list-cell {
    -fx-padding: 10px;
    -fx-border-color: lightgrey;
    -fx-border-width: 0 0 1px 0;
}

.list-cell:empty {
    -fx-background-color: transparent;
}

.list-cell:selected {
    -fx-background-color: #3a9abd;
    -fx-text-fill: white;
}
